footer{
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 201, 129);
<<<<<<< HEAD
  
=======
    position: fixed;
>>>>>>> 4c8477f7aff17e0235b5c027e79f088ceeb26f58
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px; 
}

footer h3{
    margin-bottom: .3em;
}

footer span{
    font-weight: bold;
    color:#009908;
}

#infoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
   
  }