<div class="formulario">
        
    <form #f="ngForm" method="get">
    

        <div class="form-group">

            <input 
                type="text"
                class="form-control"
                id="CEP"
                name="cep"
                [(ngModel)]="cepData.cep"
                placeholder="Digite seu CEP"
                maxlength="8"
                (blur)="buscarCEP()"
                (input)="validarNumeros($event)"
                required >

        </div>

        <div class="form-group">

                <input 
                type="text" 
                class="form-control"
                name="rua" 
                id="rua" 
                name="rua"
                [(ngModel)]="cepData.logradouro"
                placeholder="Rua"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text" 
                class="form-control"
                name="bairro"
                id="bairro" 
                name="bairro"
                [(ngModel)]="cepData.bairro"
                placeholder="Bairro"
                required >

        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="cidade" 
                id="cidade" 
                name="cidade"
                [(ngModel)]="cepData.localidade"
                placeholder="Cidade"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="estado" 
                id="estado" 
                name="estado"
                [(ngModel)]="cepData.uf"
                placeholder="Estado"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="ibge"
                id="ibge" 
                name="ibge"
                [(ngModel)]="cepData.ibge"
                placeholder="IBGE"
                required >

        </div>
</form>
        
        <div class="button">
                <button type="button" id="limparBtn" (click)="limparFormulario()">Nova Consulta</button>
        </div>
</div>
