.formulario {
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color:rgb(247, 247, 247);
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #CEP{
    width: 40%;
  }

/* Media query para tornar o formulário responsivo */
@media (max-width: 600px) {
  form {
    width: 90%; /* Reduz a largura do formulário em telas menores */
    max-width: 100%;
  }
}

