  .formulario {
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color:rgb(241, 255, 235);
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0 8px 12px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #0e270afb;
  }

  .form-control:focus {
    border: 1px solid #00ff0d;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  #CEP{
    width: 40%;
  }

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

#submitBtn {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#submitBtn:hover {
  background-color: #0f7e14;
  box-shadow: 10px;
}
