<div class="formulario">
        
    <form>
    

        <div class="form-group">

            <input 
                type="text"
                class="form-control"
                id="CEP"
                placeholder="Digite seu CEP"
                maxlength="8"
                required >

        </div>

        <div class="form-group">

                <input 
                type="text" 
                class="form-control"
                name="rua" 
                id="rua" 
                placeholder="Rua"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text" 
                class="form-control"
                name="bairro"
                id="bairro" 
                placeholder="Bairro"
                required >

        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="cidade" 
                id="cidade" 
                placeholder="Cidade"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="estado" 
                id="estado" 
                placeholder="Estado"
                required >
      
        </div>

        <div class="form-group">

          <input 
                type="text"
                class="form-control"
                name="ibge"
                id="ibge" 
                placeholder="IBGE"
                required >

        </div>
</form>
        
        <div class="button">
                <button type="submit" id="submitBtn">Enviar</button>
        </div>
</div>
